/cfbugs
/bin
/out
/target
/.classpath
/.project
/.settings/
.gradle/**/*
/build
.idea/
/.gradle/
*.iml
.DS_Store
.scannerwork
user.properties
/cflint-result.html
/cflint-result.json
/cflint-result.txt
